:root {
  --swiper-navigation-color: white;
  --swiper-pagination-color: white;
  --swiper-pagination-bullet-inactive-color: #a19f9f;
}

.nav-item{
    @apply text-white font-pixel cursor-pointer font-medium hover:text-gray-300 select-none;
}

@keyframes inNavAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outNavAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  

  @keyframes inShoppingCartAnimation {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(0);
    }
  }

  @keyframes outShoppingCartAnimation {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(100%);
    }
  }
